

<section class="flex-main-container">

  <section class="flex-main_nav-container">
<!-- nav bar -->
    <section class="flex-main_nav-select">
      <span ng-click="mc.logout()" class="logout_span"><img ng-src="../assets/images/icons/logout.ico" class="logout-icon"><h5> LOGOUT </h5></span>
      <div class="leading_div">
        <label> Species </label>
          <select ng-model="mc.query.species">
            <option value=""></option>
            <option value="blugill"> Bluegill </option>
            <option value="crappie"> Crappie </option>
            <option value="perch"> Perch </option>
            <option value="walleye"> Walleye </option>
            <option value="northernPike"> Northern Pike </option>
            <option value="sturgeon"> Sturgeon </option>
            <option value="catfish"> Catfish </option>
            <option value="whitefish"> White Fish </option>
          </select>
      </div>
      <div>
        <label> Time of Year </label>
          <input type="date" ng-model="mc.query.timeOfYear">
      </div>
      <button type="button" ng-click="mc.searchQuery(mc.query)"> Get Info </button>
    </section>
    <section class="flex-main_nav-weather">
      <span><img ng-src="../../assets/images/icons/avitar.ico"> <h1>{{mc.userObject.userName}}</h1>
    </section>
  </section>

<!-- navionics map -->
  <section class="flex-main_map-container" data-root="https://webapiv2.navionics.com/dist/webapi/images">
    <div class="test_map_div" ></div>
  </section>

<!-- weather bar -->
  <section ng-repeat="weather in mc.weatherResponse" class="flex-weather_nav-container">
  <!-- shows when location is not present -->
    <div ng-show="weather.daily == null" class="loader_weather">
      <!-- <span class="loader_weather"> -->
        <h3> Searching For Current Location </h3>
          <div class="la-ball-running-dots">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
      <!-- </span> -->
    </div>
  <!-- rest shows when location is present -->
    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_0.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[0].time * 1000 | date:'EEE MMM dd'}}</h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[0].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[0].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[0].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_1.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[1].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[1].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[1].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[1].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_2.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[2].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[2].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[2].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[2].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_3.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[3].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[3].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[3].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[3].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_4.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[4].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[4].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[4].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[4].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_5.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[5].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[5].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[5].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[5].icon}}.png">
      </div>
    </a>

    <a tooltips tooltip-template-url="./views/templates/tooltips/weather_6.html">
      <div ng-hide="weather.daily == null" class="forecast_data_container">
        <h4> {{weather.daily.data[6].time * 1000 | date:'EEE MMM dd'}} </h4>
        <span><h6 class="temp_high"> High &#8457;</h6><h5>{{weather.daily.data[6].temperatureMax}}</h5></span>
        <span><h6 class="temp_low"> Low &#8457;</h6><h5>{{weather.daily.data[6].temperatureMin}}</h5></span>
      </div>
      <div class="forecast_icon_container">
        <img ng-src="./assets/images/icons/weather/{{weather.daily.data[6].icon}}.png">
      </div>
    </a>

  </section>

<!-- end of main container -->
</section>
