

<section class="flex-main-container">

  <section class="flex-main_nav-container">
    <span ng-click="mc.logout()"><img ng-src="../assets/images/icons/logout.ico" class="logout-icon"> LOGOUT </span>
    <div class="leading_div">
      <label> Species</label>
        <select>
          <option> Bluegill </option>
          <option> Crappie </option>
          <option> Perch </option>
          <option> Walleye </option>
          <option> Northern Pike </option>
          <option> Sturgeon </option>
          <option> Catfish </option>
          <option> White Fish </option>
        </select>
    </div>
    <div>
      <label> Time of Year </label>
        <input type="date">
    </div>
  </section>

  <section class="flex-main_map-container" data-root="https://webapiv2.navionics.com/dist/webapi/images">
    <div class="test_map_div" ></div>
  </section>

  <section ng-repeat="weather in mc.weatherResponse" class="flex-weather_nav-container">
<!-- shows when location is not present -->
    <div ng-show="weather.daily == null">
      <h3> Searching For Current Location ... </h3>
    </div>
<!-- rest shows when location is present -->
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[0].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[0].temperatureMax}} &#8457; </h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[0].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[1].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[1].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[1].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[2].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[2].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[2].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[3].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[3].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[3].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[4].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[4].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[4].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[5].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[5].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[5].temperatureLow}}</h5></span>
    </div>
    <div ng-hide="weather.daily == null">
      <h4> {{weather.daily.data[6].time * 1000 | date:'MM-dd-yy'}} </h4>
      <span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[6].temperatureMax}}</h5></span>
      <span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[6].temperatureLow}}</h5></span>
    </div>
  </section>

<!-- end of main container -->
</section>
