
/*alert message styling*/
.alertMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40vw;
  /* margin: 0px 50px; */
}
.alertMessage img {
  height: 25px;
  padding-right: 5px;
}
