
/*reset*/
* {
  padding: 0px;
  margin: 0px;
  font: 12px;
  font-family: serif sans-serif;
}

/*removing default link styling*/
a {
  text-decoration: none;
  color: #ffffff;
}

/*setting app display size*/
body {
  height: 100vh;
  width: 100vw;
}


/*====================*/
/*                    */
/*     AUTH VIEWS     */
/*                    */
/*====================*/
/*login and registration main container*/
.flex-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/backgrounds/auth.png');
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100vw;
}
  .flex-login-container .login-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* margin-top: 20px; */
  }
    .login-message-container h1 {
      color: #ff0000;
      text-shadow: 1px 1px 1px #ffffff;
      font-size: 2em;
      text-align: center;
      align-items: center;
    }
  .flex-login-container .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
    .login-input-container img {
      width: 20vw;
      margin: 0px 0px 50px 0px;
    }
    .login-input-container h1 {
      display: flex;
      flex-direction: row;
      width: 20vw;
      margin: 0px 0px 50px 0px;
      text-align: center;
      justify-content: center;
      font-size: 3.5em;
      color: #ffffff;
      text-shadow: 4px 4px 4px #000000;
      overflow: visible;
    }
    .login-input-container input {
      width: 30%;
      height: 28px;
      margin: 5px 0px;
    }
    .login-input-container button {
      width: 20%;
      height: 40px;
      margin: 15px 0px;
      background-color: #244bd7;
      color: #ffffff;
      outline: none;
      cursor: pointer;
    }
    .login-input-container a {
      font-size: 0.9em;
      /* color: #244bd7; */
      color: #ffffff;
      margin-top: 20px;
      text-shadow: 1px 1px 1px #000000;
    }
    .login-input-container a:hover {
      color: #244bd7;
      text-shadow: 2px 2px 2px #000000;
    }



/*====================*/
/*                    */
/*     MAIN VIEW      */
/*                    */
/*====================*/

/* logout icon image */
.logout-icon {
  height: 20px;
}



.flex-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
  .flex-main-container .flex-main_nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 6%;
    background-color: #244bd7;
    color: #ffffff;
  }
    .flex-main_nav-container label {
      margin-left: 20px;
    }

  .flex-main-container .flex-main_map-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 94%;
  }
    .test_map_div {
      margin: 0;
      width: 100%;
      height: 100%;
    }
