
/*reset*/
* {
  padding: 0px;
  margin: 0px;
  font: 12px;
  font-family: serif sans-serif;
}

/*removing default link styling*/
a {
  text-decoration: none;
  color: #ffffff;
}

/*setting app display size*/
body {
  height: 100vh;
  width: 100vw;
}


/*====================*/
/*                    */
/*     AUTH VIEWS     */
/*                    */
/*====================*/
/*login and registration main container*/
.flex-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/backgrounds/auth.png');
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100vw;
}
  .flex-login-container .login-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* margin-top: 20px; */
  }
    .login-message-container h1 {
      color: #ff0000;
      text-shadow: 1px 1px 1px #ffffff;
      font-size: 2em;
      text-align: center;
      align-items: center;
    }
  .flex-login-container .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
    .login-input-container img {
      width: 20vw;
      margin: 0px 0px 50px 0px;
    }
    .login-input-container h1 {
      display: flex;
      flex-direction: row;
      width: 20vw;
      margin: 0px 0px 50px 0px;
      text-align: center;
      justify-content: center;
      font-size: 3.5em;
      color: #ffffff;
      text-shadow: 4px 4px 4px #000000;
      overflow: visible;
    }
    .login-input-container input {
      width: 30%;
      height: 28px;
      margin: 5px 0px;
    }
    .login-input-container button {
      width: 20%;
      height: 40px;
      margin: 15px 0px;
      background-color: #244bd7;
      color: #ffffff;
      outline: none;
      cursor: pointer;
    }
    .login-input-container a {
      font-size: 0.9em;
      /* color: #244bd7; */
      color: #ffffff;
      margin-top: 20px;
      text-shadow: 1px 1px 1px #000000;
    }
    .login-input-container a:hover {
      color: #244bd7;
      text-shadow: 2px 2px 2px #000000;
    }



/*====================*/
/*                    */
/*     MAIN VIEW      */
/*                    */
/*====================*/

/* logout icon image */
.logout-icon {
  height: 20px;
}
.temp_high {
  color: #ff0000;
  text-shadow: 1px 1px 1px #000000;
}
.temp_low {
  color: #00d9ff;
  text-shadow: 1px 1px 1px #000000;
}



.flex-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.flex-main-container .flex-main_nav-container {
  display: flex;
  flex-direction: row;
  height: 8%;
  align-items: center;
  width: 100vw;
  /* background-color: #244bd7; */
  background-color: #18358e;
  color: #ffffff;
}
.flex-main_nav-container span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
}
.flex-main_nav-container span:hover {
  cursor: pointer;
}
.flex-main_nav-container .leading_div {
  margin-left: 60px;
}
.flex-main_nav-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  text-shadow: 1px 1px 1px #000000;
}


.flex-main-container .flex-main_map-container {
  display: flex;
  flex-direction: row;
  height: 83%;
  width: 100vw;
}
.test_map_div {
  height: 100%;
  width: 100%;
}


.flex-main-container .flex-weather_nav-container {
  display: flex;
  flex-direction: row;
  height: 9%;
  width: 100vw;
  align-items: center;
  justify-content: center;
  /* background-color: #244bd7; */
  background-color: #18358e;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  overflow: scroll;
}
.flex-weather_nav-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}
.flex-weather_nav-container span {
  display: flex;
  flex-direction: row;
}
.flex-weather_nav-container h4 {
  text-decoration: underline;
}
.flex-weather_nav-container h6 {
  padding-right: 4px;
}
