
@media(max-width: 650px) {

/*====================*/
/*                    */
/*     AUTH VIEWS     */
/*                    */
/*====================*/
  .login-input-container img {
    width: 50vw;
    margin: 0px 0px 50px 0px;
  }
  .login-input-container h1 {
    font-size: 3.5em;
    margin: 0px 0px 90px 0px;
  }
  .login-input-container input {
    width: 70%;
  }
  .login-input-container button {
    width: 60%;
  }




/* end @media */
}
