
<h3>{{weather.daily.data[5].time * 1000 | date:'MMM d, y'}}</h3>
<img ng-src="../../assets/images/icons/weather/{{weather.daily.data[5].icon}}.png">
<span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[5].temperatureMax}}&#8457;</h5></span>
<span><h6 class="temp_high"> Time </h6><h5>{{weather.daily.data[5].temperatureMaxTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[5].temperatureMin}}&#8457;</h5></span>
<span><h6 class="temp_low"> Time </h6><h5>{{weather.daily.data[5].temperatureMinTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Humidity </h6><h5>{{weather.daily.data[5].humidity}}%</h5></span>
<span><h6> Sunrise </h6><h5>{{weather.daily.data[5].sunriseTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Sunset </h6><h5>{{weather.daily.data[5].sunsetTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Moon Phase </h6><h5>{{weather.daily.data[5].moonPhase}}%</h5></span>
<span><h6> Cloud Cover </h6><h5>{{weather.daily.data[5].cloudCover}}%</h5></span>
<span><h6> Precip Prob. </h6><h5>{{weather.daily.data[5].precipProbability}}%</h5></span>
<span><h6> Precip Acc. </h6><h5>{{weather.daily.data[5].precipAccumulation}}"</h5></span>
<h4> Summary </h4><h5>{{weather.daily.data[5].summary}}</h5>
