
<h3>{{weather.daily.data[2].time * 1000 | date:'MMM d, y'}}</h3>
<h1> {{weather.daily.data[2].icon}} </h1>
<span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[2].temperatureMax}}&#8457;</h5></span>
<span><h6 class="temp_high"> Time </h6><h5>{{weather.daily.data[2].temperatureMaxTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[2].temperatureMin}}&#8457;</h5></span>
<span><h6 class="temp_low"> Time </h6><h5>{{weather.daily.data[2].temperatureMinTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Humidity </h6><h5>{{weather.daily.data[2].humidity}}%</h5></span>
<span><h6> Sunrise </h6><h5>{{weather.daily.data[2].sunriseTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Sunset </h6><h5>{{weather.daily.data[2].sunsetTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Moon Phase </h6><h5>{{weather.daily.data[2].moonPhase}}%</h5></span>
<span><h6> Cloud Cover </h6><h5>{{weather.daily.data[2].cloudCover}}%</h5></span>
<span><h6> Visibility </h6><h5>{{weather.daily.data[2].visibility}} mi</h5></span>
<span><h6> Precip Prob. </h6><h5>{{weather.daily.data[2].precipProbability}}%</h5></span>
<span><h6> Precip Acc. </h6><h5>{{weather.daily.data[2].precipAccumulation}}"</h5></span>
<h4> Summary </h4><h5>{{weather.daily.data[2].summary}}</h5>
