
<h3>{{weather.daily.data[3].time * 1000 | date:'MMM d, y'}}</h3>
<h1> {{weather.daily.data[3].icon}} </h1>
<span><h6 class="temp_high"> High </h6><h5>{{weather.daily.data[3].temperatureMax}}&#8457;</h5></span>
<span><h6 class="temp_high"> Time </h6><h5>{{weather.daily.data[3].temperatureMaxTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6 class="temp_low"> Low </h6><h5>{{weather.daily.data[3].temperatureMin}}&#8457;</h5></span>
<span><h6 class="temp_low"> Time </h6><h5>{{weather.daily.data[3].temperatureMinTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Humidity </h6><h5>{{weather.daily.data[3].humidity}}%</h5></span>
<span><h6> Sunrise </h6><h5>{{weather.daily.data[3].sunriseTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Sunset </h6><h5>{{weather.daily.data[3].sunsetTime * 1000 | date:'h:mm a'}}</h5></span>
<span><h6> Moon Phase </h6><h5>{{weather.daily.data[3].moonPhase}}%</h5></span>
<span><h6> Cloud Cover </h6><h5>{{weather.daily.data[3].cloudCover}}%</h5></span>
<span><h6> Visibility </h6><h5>{{weather.daily.data[3].visibility}} mi</h5></span>
<span><h6> Precip Prob. </h6><h5>{{weather.daily.data[3].precipProbability}}%</h5></span>
<span><h6> Precip Acc. </h6><h5>{{weather.daily.data[3].precipAccumulation}}"</h5></span>
<h4> Summary </h4><h5>{{weather.daily.data[3].summary}}</h5>
